torch==2.1.0 
torchvision==0.16.0 
torchaudio==2.1.0
scipy==1.10.1
numpy==1.23.5 
chumpy==0.70
cython==3.0.3
imageio==2.31.5
matplotlib==3.7.3
moviepy==2.0.0.dev2

tensorboard
pytorch_lightning
torchmetrics
omegaconf
shortuuid
chumpy
transformers
diffusers
einops
wandb
rich
matplotlib

# for visualization
smplx==0.1.28
trimesh==3.9.24
joblib==1.2.0
h5py
scikit-image
spacy
ftfy
more-itertools
natsort
pyrender
moviepy
librosa